{
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": false,
    "semi": true,
    "printWidth": 80,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "parser": "typescript",
    "endOfLine": "auto"
  }